<h1>Password Reset Link</h1>
<p>
  Hello <%=firstname %>,
  Reset your password by clicking the following link:
</p>
<button a href="http://localhost:3000/users/resetpassword/<%=resettoken %>">Reset Password</button>
<p>
  Your request came from IP: <%=lastip %> on <%=lastresettoken %>.
</p>
