<h1>Password Reset Link</h1>
<p>
  Hello <%=firstname %>,
  Reset your password by clicking the following link:
</p>
<a href="http://localhost:4200/resetpassword/<%=resettoken %>"><button>Reset Password</button></a>
<p>
  Your request came from IP: <%=lastip %> on <%=lastresettoken %>.
</p>
