<p>
  Hi <%=firstname %>, Your account '<%=username %>' was locked after several failed login attempts.
  Please contact 'CONTACT-EMAIL-GOES-HERE' for further information on how to unlock your account.
</p>
<p>
  The login requests came from IP: <%=lastip %> on <%=lastfailedlogin %>.
</p>
